body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body::-webkit-scrollbar {
    background-color: rgba(66,66,66,255);
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(104,104,104,255);
}

.twitter {
    display: flex;
    justify-content: space-between;
}